* {
    transition: all 0.3s;
  }  
body{
    background: rgb(2,0,36);
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 48%, rgba(0,212,255,1) 85%);
    text-align: center;
    color: #fff;
    font-family: sans-serif;
}
#container-app{
    position: relative;
    top: 30px
}
#nav{
    width: 80%;
    height: 50px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    color: #fff;
}
#cont-questions{
    margin: 0 auto;
    background-color: rgb(233, 233, 233);
    height: 70vh;
    width: 80%;
    border-radius:20px;
    -webkit-box-shadow: 5px 5px 15px 5px #000000; 
    box-shadow: 5px 5px 15px 5px #000000;
}
#container{
    background-color: rgb(118, 114, 114);
    color: #fff;
    width: 90%;
    position: relative;
    top: 30px;
    margin: 0 auto;
    text-align: left;
    border-radius: 20px;
}
#copyR{
    text-align: center;
    position: relative;
    top: 30px;
}
.btn{
    width: 96%;
    cursor: pointer;
    background: white;  
    padding: 10px;
    margin: 5px;
    border-radius: 20px;
}
.btn:hover{
    transform: scale(1.05);
}
#container-buttons{
    width: 80%;
    margin: 0 auto;
    text-align: center;
    position: relative;
    top: 40px;
}