body{
    background: rgb(2,0,36);
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 48%, rgba(0,212,255,1) 85%);
    text-align: center;
    color: #fff;
    font-family: sans-serif;
}
#nav{
    width: 80%;
    height: 50px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    color: #fff;
}
#cont-questions{
    margin: 0 auto;
    background-color: rgb(233, 233, 233);
    height: 70vh;
    width: 80%;
    border-radius:20px;
    -webkit-box-shadow: 5px 5px 15px 5px #000000; 
    box-shadow: 5px 5px 15px 5px #000000;
}
#container{
    /*background-color: rgb(184, 33, 33);*/
    width: 90%;
    height: 90%;
    position: relative;
    top: 30px;
    margin: 0 auto;
    color: rgb(0, 0, 0);
    text-align: left;
}
#copyR{
    text-align: center;
    position: relative;
    top: 30px;
}
#button{
    color: white;
    background-color: rgb(27, 161, 27);
    cursor: pointer;
    width:100px;
    height: 30px;
    border-radius: 10px;
}